/* css grid e flex musicas */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #db7676;
    padding-top: 80px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}
/*Header*/
header {
    background-color: #222;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: all 0.3s;
    font-weight: 700;
}

header nav a:hover {
    color: rgb(136, 21, 21);
}

/*Style*/

.Cantores {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 40%;
    padding-top: 20px;
}

.musica {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.musica:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.musica .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.musica img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.musica h3 {
    margin: 5px 0;
}

.musica p {
    margin: 0;
    color: #555;
}