/* css flex livro */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #db7676;
    padding-top: 80px;
}

/* HEADER FIXO */
header {
    background-color: #222;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: all 0.3s;
    font-weight: 700;
}

header nav a:hover {
    color: rgb(136, 21, 21);
}

.Livros {
    text-align: center;
    margin: 40px 0 20px;
}

.livros-capa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 20px;
}

.capa {
    background-color: white;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0003;
    transition: 0.3s;
}

.capa:hover {
    transform: translateY(-5px);
}

.capa img {
    width: 100%;
    border-radius: 10px;
}

.capa h3 {
    margin-top: 10px;
}